body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
   
}

.box{
  display: flex;
  flex-direction: column;
  background: rgba( 21, 142, 255, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4.5px );
-webkit-backdrop-filter: blur( 4.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
width: 40vh;
height: 35vh;

}

button {
    background-color: #0c80f3;
    border: 6px solid #0ff166;
    border-radius: 10px;
    width: 150px;
  }
  
  select {
    display: block;
    margin-bottom: 20px;
  }
  